@font-face {
  font-family: time;
  src: url(./fonts/made_tommy_soft/MADE\ Tommy\ Soft\ Light\ PERSONAL\ USE.otf);
}
@font-face {
  font-family: secondary;
  src: url(./fonts/Nexa\ Regular.otf);
}
@font-face {
  font-family: icons;
  src: url(./fonts/Byom-Icons-Trial.ttf);
}
@font-face {
  font-family: logos;
  src: url(./fonts/Social\ Media\ Circled.ttf);
}

@font-face {
  font-family: main;
  src: url(./fonts/Nexa-Heavy.ttf);
}
@font-face {
font-family: mainLight;
src: url(./fonts/Nexa\ Regular.otf);
}
@font-face {
font-family: mainMedium;
src: url(./fonts/Nexa\ Light.otf);
}




.light {
  --background-color: #D9D9D9;
  --text-color: #0D0D0D;
  --accent1: #D9D9D9;
  --accent2: #949494;
  --accent3: #c9c9c9;
  --accent7: #eeeeee;
  --hover: rgb(215, 215, 215);
  --hover2: rgb(134, 134, 134);
  --contactBox: #adadad;
  --blue: #007acc;
  --dark-blue: #2d5168;
  --skills: #272727;
}

.dark {
  --background-color: #0D0D0D;
  --text-color: #D9D9D9;
  --accent7: #151515;
  --accent3: #1c1c1c;
  --accent2: #BFBFBF;
  --accent1: #D9D9D9;
  --hover: rgb(35, 35, 35);
  --hover2: rgb(152, 152, 152);
  --contactBox: #1c1c1c;
  --blue: #007acc;
  --dark-blue: rgb(80, 100, 114);
  --skills: #1c1c1c;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  background-color: var(--background-color);
}

html, body{
  background-color: var(--background-color);
}

.App {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  padding-top: 50px; /* Adjust this value to match the height of your navbar */
}

.modeButton{
  position: fixed;
  right: 1vw;
}

.navbar {
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100vw;  
  top: 0;
  z-index: 99; 
}

.navButton {
  font-family: secondary;
  text-decoration: none;
  color: var(--background-color);
  margin: 0 2vmin; /* Adjust margin as needed */
  transition: 0.3s ease-in-out;
  text-transform: lowercase;
  font-size: 1.2vw;
  
}

.navButtonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align items vertically in the center */
  padding: 3vmin; /* Adjust padding as needed */
  background-color: var(--text-color);
  color: var(--background-color);
  backdrop-filter: blur(30px);
  width: 100%;
  z-index: 999;
}

.logo{
  display: flex;
  align-items: center;
}

.navButtonContainer img{
  width: 5%;
  margin-right: 1vw;
}

.navButton:hover {
  cursor: pointer;
  color: var(--blue);
}

.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: var(--text-color);
  color: var(--background-color);
  padding: 10px 11px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  font-family: icons;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.scroll-to-top.visible {
  opacity: 1;
  visibility: visible;
}

.scroll-to-top:hover{
  transform: scale(1.1);
  background-color: var(--dark-blue);
  color: var(--accent1);
}


.homeContent {
  margin-top: 2vmin;
  padding-top: 2vmin;
  padding-bottom: 0;
  height: max-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.heroLeft{
  display: flex;
  flex-direction: column;
  margin-left: 6vw;
}

.heroRight{
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroRight img{
  width: 100%;
  margin-top: -12vh;
  margin-right: 2vw;
  transition: 0.75s ease-in-out;
  opacity: 80%;
  filter: saturate(120%);
  mix-blend-mode:lighten;
}

.heroRight img:hover{
  filter: saturate(70%);
}

.heroSection {
  height: 92vh;
  background-color: #0D0D0D;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  display: flex;
  margin-top: 2vh;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8vh;
}

.homeTitle {
  font-family: main;
  font-size: 13vw;
  color: #D9D9D9;
  width: max-content;
  height: max-content;
  line-height: 22vh;
  margin-top: -6vh;
}

.homeSecondTitle{
  font-family: main;
  color: #BFBFBF;
  font-size: 1.3vw;
  width: max-content;
  margin-top: 0vh;
  height: max-content;
  margin-left: 0.75vw;
  text-transform: lowercase;
}

.homeThirdTitle{
  font-family: main;
  color: #BFBFBF;
  font-size: 1.3vw;
  width: max-content;
  margin-top: 0.5vh;
  margin-left: 0.75vw;
  height: max-content;
  text-transform: lowercase;
}

.time{
  font-family: main;
  color: #BFBFBF;
  font-size: 1.3vw;
  width: max-content;
  margin-top: 00.5vh;
  margin-left: 0.75vw;
  height: max-content;
  display: flex;
  text-transform: lowercase;
}

.resumeBtn{
  margin-top: 2vh;
  width: max-content;
  margin-left: 0.75vw;
  padding: 1vmin 2vmin;
  border-radius: 10px;
  border: solid 2px #cccccc;
  background-color: transparent;
  color: #549ac9;
  font-family: main;
  transition: 0.3s ease-in-out;
  font-size: 1vw;
}

.resumeBtn:hover{
  transform: scale(0.95);
  cursor: pointer;
  border: solid 2px #cccccc;
  background-color: #cccccc;
  color: #0D0D0D;
}

.projectsSection {
  background-color: var(--accent3);
  padding: 2vw 2vw 0vw 2vw;
  display: flex;
  flex-direction: column;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  height: max-content;
  border-radius: 20px;
  overflow: hidden;
  flex-wrap: wrap;
}

.projectsTitle{
  font-family: main;
  font-size: 2.5vw;
  margin-bottom: 1vh;
  margin-left: 1vw;
  
}

.projectCards{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1vw;
  padding: 2vmin;
  flex-wrap: wrap;
}

.projectCard {
  height: 30vh;
  width: 24vw;
  background-color: var(--hover);
  padding: 3vmin 4vmin 1vmin 4vmin;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  display: flex;
  justify-content: end;
  flex-direction: column;
  margin-bottom: 4vh;
  overflow: hidden;
}

.projectCard:hover {
  cursor: pointer;
}



.projectTitle {
  font-family: main;
  font-size: 1.5vw;
  margin-bottom: 1.5vh;
  color: #eeeeee;
  position: sticky;
}

.projectDescription {
  font-family: mainLight;
  font-size: 1.1vw;
  margin-top: -5vh;
  color: #eeeeee;
}

.projectTools{
  margin-top: 1vh;
  display: flex;
}

.toolItem{
  padding: 1vmin 2vmin;
  font-family: mainLight;
  font-size: 1vw;
  margin-right: 0.8vw;
  color: var(--dark-blue);
  background-color: transparent;
  border-radius: 500px;
}

.projectBtns {
  display: flex;
  margin-top: auto;
}

.projectCardNotHovered{
  animation: fadeOut 0.5s forwards; /* Adjust duration as needed */
  position: relative;
  z-index: 1;
}

.projectCardHovered{
  animation: fadeUp 0.5s forwards; /* Adjust duration as needed */
  overflow: hidden;
  position: relative;
}

.cardOverlay{
  background-color: rgba(0, 0, 0, 0.6);
  width: 40vw;
  margin-left: -3vw;
  height: 50vh;
  position: fixed;
  margin-top: -40vh;
  z-index: -1;
  animation: zoomOut 0.5s forwards; /* Adjust duration as needed */
  display: flex;
}
.cardOverlay2{
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  width: 90vw;
  margin-left: -3vw;
  height: 50vh;
  position: fixed;
  margin-top: -20vh;
  z-index: -1;
  animation: zoomIn 0.5s forwards; /* Adjust duration as needed */

}

.projectShortDescription{
    animation: zoomIn 0.5s forwards; /* Adjust duration as needed */
  font-family: mainLight;
  margin-bottom: 1vh;
  color: #eeeeee;
}

.projectShortDescription2{
  animation: zoomIn 0.5s forwards; /* Adjust duration as needed */
font-family: main;
color: #eeeeee;
  margin-bottom: 1vh;
}

.cardOverlay3{
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  width: 90vw;
  margin-left: -3vw;
  height: 50vh;
  position: fixed;
  margin-top: -20vh;
  z-index: -1;
  animation: zoomIn 0.5s forwards; /* Adjust duration as needed */

}

.projectShortDescription3{
  animation: zoomIn 0.5s forwards; /* Adjust duration as needed */
font-family: main;
color: #eeeeee;
  margin-bottom: 1vh;
}

.projectShortDescription4{
  display: none;
}

#finVue{

  background-image: url(./images/finVue.webp);
  background-size: contain;
  background-position: center center;}

#finVue {
  position: relative;
}

#finVue::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Adjust the color and opacity as needed */
  z-index: 0; /* Adjust the z-index to make sure the overlay is above the image */
}

#finVue img {
  width: 100%;
  height: auto;
  display: block;
}

#iatGame{

  background-image: url(./images/iatGame.png);
  background-size: cover;
  background-position: center center;}

#iatGame {
  position: relative;
}

#iatGame::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Adjust the color and opacity as needed */
  z-index: 0; /* Adjust the z-index to make sure the overlay is above the image */
}

#iatGame img {
  width: 100%;
  height: auto;
  display: block;
}


#quizApp{

  background-image: url(./images/algorithmly.png);
  background-size: cover;
  background-position: center center;}

#quizApp {
  position: relative;
}

#quizApp::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Adjust the color and opacity as needed */
  z-index: 0; /* Adjust the z-index to make sure the overlay is above the image */
}

#quizApp img {
  width: 100%;
  height: auto;
  display: block;
}


#luluApp{

  background-image: url(./images/lululemonOMNI/lulu2.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0D0D0D;
}

#luluApp {
  position: relative;
}

#luluApp::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Adjust the color and opacity as needed */
  z-index: 0; /* Adjust the z-index to make sure the overlay is above the image */
}

#luluApp img {
  width: 100%;
  height: auto;
  display: block;
}

@keyframes fadeUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zoomOut {
  0% {
    opacity: 50%;
  }
  100% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 50%;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for the overlay color */
  z-index: 3; /* Ensure the overlay is above other elements */
}

.projectTab.opened + .overlay {
  display: block;
}

body {
  overflow: auto;
}

body.overflow-hidden {
  overflow: hidden;
}

/* Add this class to body when the tab is opened to prevent scrolling of the other content */
body.overlay-visible {
  overflow: hidden;
}

.projectTab {
  position: fixed;
  top: 0;
  right: 0;
  width: 38%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--accent7);
  padding: 30px;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  z-index: 1000;
  overflow-x: hidden;
  animation: slideIn 0.5s forwards; /* Adjust duration as needed */
}

.aboutTab {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--accent7);
  padding: 30px;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  z-index: 99999999999;
  overflow-x: hidden;
  animation: slideIn 0.5s forwards; /* Adjust duration as needed */
}

.progress-bar-container {
  width: 95%;
  overflow: hidden;
  height: 20px; /* Adjust the height as needed */
  background-color: var(--accent3); /* Background color of the progress bar container */
  margin-top: 10px;
  border-radius: 5px;
}

/* Colored Bar */
.progress-bar {
  height: 100%;
  background-color: var(--dark-blue); /* Color of the progress bar */
  transition: width 0.3s ease; /* Optional: Add a smooth transition effect */
}

.technicalSkillContainer{
  font-family: mainLight;
  font-size: 1.5vw;
  margin-top: 3vh;
}

.skills-container {
  display: flex;
  gap: 1vw;
  margin-bottom: 5vh;
  width: 98%;
  flex-wrap: wrap;
}

.skill-rectangle {
  background-color: var(--accent3);
  color: #fff;
  padding: 1.75vmin 2.5vmin;
  border-radius: 10px;
  font-family: mainLight;
}

.projectTabLeft{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  z-index: 888;
}

.projectTab.closed {
  animation: slideOut 0.5s forwards; /* Adjust duration as needed */
}

.closeTabButton {
  width: 109%;
  margin-left: -2vw;
  display: flex;
  padding: 1vw 2vw;
  font-family: main;
  cursor: pointer;
  color: var(--text-color);
}

.closeTabButton:hover{
  color: var(--accent3);
}

.closeTabButton button{
  font-family: icons;
  color: var(--text-color);
  padding: 0.1vw 0vw;
  background-color: transparent;
  border: none;
  margin-top: -2vh;
  font-size: 0.9vw;
}

.closeTabButton button:hover{
  cursor: pointer;
  color: var(--accent3);
}


.projectTopTab{
  margin-top: 3vh;
}

.projectTopTab img{
  width: 100%;
  margin-top: 1vh;
  border-radius: 10px;
}

.projectTopTab img {
  position: relative;
}

.projectTopTab img::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4); /* Adjust the color and opacity as needed */
  z-index: 1; /* Adjust the z-index to make sure the overlay is above the image */
}


.projectTitleTab {
  font-family: main;
  font-size: 1.75vw;
  margin-top: -2vh;
}
.projectTitleTab2 {
  font-family: main;
  font-size: 1.2vw;
  margin-top: 0vh;
}

.aboutTitleTab {
  font-family: main;
  font-size: 1.75vw;
  margin-top: -2vh;
  margin-bottom: 2vh;
}

.projectShortDescriptionTab {
  font-family: mainMedium;
  font-size: 1.09vw;
  margin-top: 1vh;
}

.projectDescriptionTab {
  font-family: mainMedium;
  font-size: 1.09vw;
  margin-top: 0.5vh;
}

.projectAboutTitle{
  font-family: main;
  font-size: 1.3vw;
  margin-top: 2vh;
  
}

.projectToolsTitle{
  font-family: main;
  font-size: 1.3vw;
  margin-top: 6vh;
}

.projectToolsTab{
  margin-top: 1vh;
  display: flex;
  margin-bottom: 6vh;
}

.projectSkillsTab{
  margin-top: 1vh;
  display: flex;
  margin-bottom: 6vh;
  flex-wrap: wrap; 
  gap: 1vw;
}

.toolItemTab{
  padding: 1vmin 2vmin 0.75vmin 2vmin;
  font-family: mainLight;
  font-size: 1vw;
  margin-right: 0.8vw;
  color: #eeeeee;
  background-color: var(--dark-blue);
  border-radius: 5px;
}

.projectBtnsTab {
  display: flex;
  margin-top: auto;
}


.viewProjectTab{
  border: none;
  padding: 2vmin 3vmin;
  background-color: var(--text-color);
  color: var(--background-color);
  font-family: main;
  font-size: 1vw;
  border-radius: 10px;
  width: 100%;
  transition: 0.3s ease-in-out;
  position: relative;
}

.viewProjectTab:hover{
  background-color: var(--dark-blue);
  cursor: pointer;
  color: #eeeeee;
}

.projectBtnsContainerTab{
  display: flex;
  gap: 1vw;
  align-items: center;
}

.projectBtnsTab{
  background-color: transparent;
  color: var(--text-color);
  font-family: icons;
  font-size: 1.2vw;
  border: none;
  transition: 0.3s ease-in-out;
  margin: 0;
}

.projectBtnsTab:hover{
  cursor: pointer;
  color: var(--dark-blue);
}

#gitHubTab{
  font-family: logos;
  font-size: 1.3vw;
}



.line{
  width: 350%;
  background-color: var(--dark-blue);
  height: 0.3vh;
}

.line2{
  width: 1040%;
  background-color: var(--dark-blue);
  height: 0.3vh;
}

.viewProject{
  border: 3px solid var(--text-color);
  padding: 1vmin 2vmin;
  background-color: transparent;
  color: var(--text-color);
  font-family: main;
  font-size: 0.75vw;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}

.viewProject:hover{
  background-color: var(--dark-blue);
  cursor: pointer;
  color: var(--hover);
  border: 3px solid var(--dark-blue);
  transform: scale(0.95);
}

.projectBtnsContainer{
  display: flex;
  gap: 1vw;
  align-items: center;
}

.projectBtns{
  background-color: transparent;
  color: var(--text-color);
  font-family: icons;
  font-size: 1.2vw;
  border: none;
  transition: 0.3s ease-in-out;
  margin: 0;
}

.projectBtns:hover{
  cursor: pointer;
  color: var(--dark-blue);
}

#gitHub{
  font-family: logos;
  font-size: 1.3vw;
}

.bottomHalf{
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.aboutSection{
  margin-top: 10vmin;
  margin-left: auto;
  margin-right: auto;
  padding: 3vmin;
  width: 85%;
  height: max-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.aboutTitle {
  font-family: main;
  font-size: 2.5vw;
  margin-bottom: 1vh;
  margin-left: 1vw;
}

.aboutText{
  margin-left: 1vw;
  font-family: mainLight;
  font-size: 1.3vw;
  line-height: 3.5vh;
}

.aboutMeMore{
  width: max-content;
  margin-top: 2vh;
  margin-left: 1vw;
  border-radius:5px;
  padding: 1vmin 2vmin;
  border: none;
  background-color: var(--dark-blue);
  color: #eeeeee;
  font-family: main;
  font-size: 1vw;
  transition: 0.3s ease-in-out;
}

.aboutMeMore:hover{
  background-color: var(--text-color);
  color: var(--background-color);
  transform: scale(0.95);
  cursor: pointer;
}



.contactSection{
  margin-top: 10vh;
  width: 90%;
  height: 70vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.nameContainer{
  display: flex;
}

.rightSideContact{
  background-color: var(--contactBox);
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  height: 60vh;
  display: flex;
  border-radius: 15px;
}

.socials{
  width: max-content;
  background-color: transparent;
  z-index: 999999999;
  display: flex;
  gap: 3vh;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  flex-direction: column;
}

.socialLine{
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

.socialsHeader{
  font-size: 1.75vw;
  font-family: logos;
  z-index: 99999999999999;
  color: var(--text-color);
}

.link{
  text-decoration: none;
  color: var(--text-color);
  font-family: mainLight;
  margin-top: 0.3vh;
}

.leftSideContact{
  height: max-content;
  width: 60%;
  padding-left: 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactHeaderContainer{
  width: 117%;
  
}

.contactTitle{
  font-family: main;
  font-size: 2.5vw;
  margin-bottom: 1vh;
  margin-left: -0.3vw;
}

.contactSecondTitle{
  font-family: mainLight;
  margin-top: -1vh;
  margin-bottom: 1vh;
  margin-left: -0.2vw;
  
}

.projectContent{
  background-color: var(--background-color);
  height: 100vh;
  padding-top: 8vh;
}

.projectPageTitle{
  font-family: main;
  font-size: 3vw;
  color: var(--text-color);
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.form{
  width: 100%;
  overflow: hidden;
  margin-left: -10vw;
  animation: zoomOut 2s forwards; /* Adjust duration as needed */
}

.inputName{
  width: 19.5vw;
}

.inputEmail{
  width: 40vw;
}

.inputMessage{
  width: 40vw;
}

.submitBtn{
  margin-top: 2vh;
  font-family: main;
  padding: 1.2vmin 2.5vmin;
  margin-left: 2vmin;
  border-radius: 5px;
  border: none;
  color: #D9D9D9;
  background-color: var(--dark-blue);
  transition: 0.3s ease-in-out;
}

.submitBtn:hover{
  transform: scale(0.95);
  background-color: var(--text-color);
  color: var(--background-color);
  cursor: pointer;
}

.formSubmittedContainer{
  display: flex;
  width: 42vw;
  height: 30vh;
  flex-direction: column;
  margin-top: 15vh;
  border-radius: 20px;
}

.formSubmitted{
  font-family: main;
  font-size: 1.5vw;
  animation: fadeOut 0.5s forwards; /* Adjust duration as needed */

}

.returnBtn{
  margin-top: 1vh;
  font-family: main;
  background-color: transparent;
  color: var(--text-color);
  width: 20%;
  padding: 1vmin 2vmin;
  border-radius: 5px;
  border: 2px solid var(--text-color);
  transition: 0.3s ease-in-out;
  animation: fadeOut 0.5s forwards; /* Adjust duration as needed */
}

.returnBtn:hover{
  cursor: pointer;
  background-color: var(--text-color);
  color: var(--background-color);
  border: 2px solid var(--background-color);
}

.footerContainer{
  height: 15vh;
  background-color: #1c1c1c;
  width: 100%;
  padding: 4vmin;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerLogo{
  width: 13%;
}

.footerText{
  width: 15vw;
  height: max-content;
  font-family: mainLight;
  text-align: right;
  color: #eeeeee;
}

.footerText2{
  height: max-content;
  margin-top: 0.5vh;
  font-family: mainLight;
  text-align: left;
  color: #eeeeee;

}

.imageTabOpen {
  width: 100%;
  height: 35vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; /* Center the image vertically */
  border-radius: 15px;
}

.imageTabOpen img {
  width: auto;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover container */
}

#luluApp1{
  background-color: #0D0D0D;
  padding-bottom: 1vh;
  margin-top: 1vh;
}

#iatGame1{
  margin-top: 1vh;
}

#iatGame1 img{
  transform: scale(1.02);
}

#algoritmly1{
  padding-bottom: 1vh;
  margin-top: 1vh;
}

#algoritmly1 img{
  transform: scale(1.1);
  padding-left: 5vw;
}


.singleProject{
  padding-top: 8vh;
  background-color: var(--background-color);
  height: max-content;
  padding-bottom: 5vh;
}

.singleProjectTitle{
  font-family: main;
  color: var(--text-color);
  margin-left: 2vw;
  font-size: 4vw;
  text-align: center;
}



.singleProjectTopSectionContainer{
  margin-top: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}

.singleProjectTitle2{
  font-family: main;
  margin-left: 6vw;
  font-size: 1.75vw;
  margin-bottom: 2vh;
  margin-top: 6vh;
}

.singleProjectText{
  font-family: mainLight;
  margin-left: 6vw;
  margin-right: 6vw;
  font-size: 1.4vw;
}

.singleProjectImages{
  margin-left: 6vw;
  gap: 1vw;
  display: flex;
  padding-bottom: 2vh;
  width: 87%;
  overflow-y: scroll;
}

.singleProjectImages img{
  width: 35vh;
  border-radius: 50px;
}

.singleProjectVideo{
  gap: 1vw;
  display: flex;
  margin-top: 4vh;
  justify-content: center;
}

.singleProjectVideo video{
  border-radius: 10px;
}










@media screen and (max-width: 1000px) {
  
  .modeButton{
    position: fixed;
    right: -1vw;
    transform: scale(0.8);
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100vw;  
    top: 0;
    z-index: 999; 
  }

  .navButton {
    font-family: secondary;
    text-decoration: none;
    color: var(--background-color);
    margin: 0 4vmin; /* Adjust margin as needed */
    transition: 0.3s ease-in-out;
    text-transform: lowercase;
    font-size: 4vw;
  }

  .navButtonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically in the center */
    padding: 3vmin; /* Adjust padding as needed */
    background-color: var(--text-color);
    color: var(--background-color);
    backdrop-filter: blur(30px);
    width: 100%;
    z-index: 999;
  }

  .logo{
    display: flex;
    align-items: center;
  }

  .navButtonContainer img{
    width: 8%;
    margin-right: 1vw;
  }

  .navButton:hover {
    cursor: pointer;
    color: var(--blue);
  }

  .scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: var(--text-color);
    color: var(--background-color);
    padding: 10px 11px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    font-family: icons;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .scroll-to-top.visible {
    opacity: 1;
    visibility: visible;
  }

  .scroll-to-top:hover{
    transform: scale(1.1);
    background-color: var(--dark-blue);
    color: var(--accent1);
  }


  .homeContent {
    margin-top: 2vmin;
    padding: 3vmin;
    padding-bottom: 0;
    height: max-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
  }

  .heroLeft{
    display: flex;
    flex-direction: column;
    margin-left: 6vw;
  }

  .heroRight{
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .heroRight img{
    display: none;
  }

  .heroSection {
    height: 70vh;
    background-color: transparent;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    display: flex;
    margin-top: 2vh;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2vh
  }

  .homeTitle {
    font-family: main;
    font-size: 20vw;
    color: var(--text-color);
    width: max-content;
    height: max-content;
    line-height: 10vh;
    margin-top: 0vh;
  }

  .homeSecondTitle{
    font-family: main;
    color: var(--text-color);
    font-size: 2.5vw;
    width: max-content;
    margin-top: 0vh;
    height: max-content;
    margin-left: 0.75vw;
    text-transform: lowercase;
  }

  .time{
    font-family: main;
    color: var(--text-color);
    font-size: 2.5vw;
    width: max-content;
    margin-top: 00.5vh;
    margin-left: 0.75vw;
    height: max-content;
    display: flex;
    text-transform: lowercase;
  }

  .resumeBtn{
    margin-top: 2vh;
    width: max-content;
    margin-left: 0.75vw;
    padding: 1vmin 2vmin;
    border-radius: 10px;
    border: solid 2px var(--text-color);
    background-color: transparent;
    color: #549ac9;
    font-family: main;
    transition: 0.3s ease-in-out;
    font-size: 3vw;
  }

  .resumeBtn:hover{
    transform: scale(1);
    cursor: default;
    border: solid 2px #cccccc;
    background-color: transparent;
    color: #549ac9;
  }

  .projectsSection {
    background-color: transparent;
    padding: 0vw 0vw 0vw 0vw;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    border-radius: 25px;
    overflow: hidden;
    flex-wrap: wrap;
  }

  .projectsTitle{
    font-family: main;
    font-size: 7vw;
    margin-bottom: -1vh;
    margin-left: 7vw;
    margin-top: 1.5vh;
  }

  .projectCards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6vmin;
  }

  .projectCard {
    height: 30vh;
    width: 82vw;
    background-color: var(--hover);
    padding: 3vmin 4vmin 1vmin 4vmin;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    display: flex;
    justify-content: end;
    flex-direction: column;
    margin-bottom: 4vh;
  }

  .projectCard:hover {
    cursor: default;
  }



  .projectTitle {
    font-family: main;
    font-size: 5vw;
    margin-bottom: 1.5vh;
    color: #eeeeee;
    position: sticky;
  }

  .projectDescription {
    font-family: mainLight;
    font-size: 1.1vw;
    margin-top: -5vh;
    color: #eeeeee;
  }

  .projectTools{
    margin-top: 1vh;
    display: flex;
    flex-wrap: wrap;
  }

  .toolItem{
    padding: 1vmin 2vmin;
    font-family: mainLight;
    font-size: 1vw;
    margin-right: 0.8vw;
    color: var(--dark-blue);
    background-color: transparent;
    border-radius: 500px;
  }

  .projectBtns {
    display: flex;
    margin-top: auto;
  }

  .projectCardNotHovered{
    animation: fadeOut 0.5s forwards; /* Adjust duration as needed */
    position: relative;
    z-index: 1;
  }

  .projectCardHovered{
    animation: fadeUp 0.5s forwards; /* Adjust duration as needed */
    overflow: hidden;
    position: relative;
  }

  .cardOverlay{
    background-color: rgba(0, 0, 0, 0.6);
    width: 40vw;
    margin-left: -3vw;
    height: 50vh;
    position: fixed;
    margin-top: -40vh;
    z-index: -1;
    animation: zoomOut 0.5s forwards; /* Adjust duration as needed */
    display: flex;
  }
  .cardOverlay2{
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    width: 90vw;
    margin-left: -3vw;
    height: 50vh;
    position: fixed;
    margin-top: -20vh;
    z-index: -1;
    animation: zoomIn 0.5s forwards; /* Adjust duration as needed */

  }

  .projectShortDescription{
      animation: zoomIn 0.5s forwards; /* Adjust duration as needed */
    font-family: mainLight;
    margin-bottom: 1vh;
    color: #eeeeee;
  }

  .projectShortDescription2{
    animation: zoomIn 0.5s forwards; /* Adjust duration as needed */
  font-family: main;
  color: #eeeeee;
    margin-bottom: 1vh;
  }

  .cardOverlay3{
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    width: 90vw;
    margin-left: -3vw;
    height: 50vh;
    position: fixed;
    margin-top: -20vh;
    z-index: -1;
    animation: zoomIn 0.5s forwards; /* Adjust duration as needed */

  }

  .projectShortDescription3{
    animation: zoomIn 0.5s forwards; /* Adjust duration as needed */
  font-family: main;
  color: #eeeeee;
    margin-bottom: 1vh;

  }

  .projectShortDescription4{
    display: flex;
    font-family: main;
    color: #eeeeee;

    opacity: 50%;
    align-items: center;
  }

  #finVue{

    background-image: url(./images/finVue.webp);
    background-size: contain;
    background-position: center center;}

  #finVue {
    position: relative;
  }

  #finVue::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Adjust the color and opacity as needed */
    z-index: 0; /* Adjust the z-index to make sure the overlay is above the image */
  }

  #finVue img {
    width: 100%;
    height: auto;
    display: block;
  }

  #quizApp{

    background-image: url(./images/quizApp.png);
    background-size: cover;
    background-position: left top;
  }

  #quizApp {
    position: relative;
  }

  #quizApp::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Adjust the color and opacity as needed */
    z-index: 0; /* Adjust the z-index to make sure the overlay is above the image */
  }

  #quizApp img {
    width: 100%;
    height: auto;
    display: block;
  }



  @keyframes fadeUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes zoomOut {
    0% {
      opacity: 50%;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes zoomIn {
    0% {
      opacity: 50%;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slideIn {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideOut {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for the overlay color */
    z-index: 3; /* Ensure the overlay is above other elements */
  }

  .projectTab.opened + .overlay {
    display: block;
  }

  body {
    overflow: auto;
  }

  body.overflow-hidden {
    overflow: hidden;
  }

  /* Add this class to body when the tab is opened to prevent scrolling of the other content */
  body.overlay-visible {
    overflow: hidden;
  }

  .projectTab {
    position: fixed;
    top: 0;
    right: 0;
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--accent7);
    padding: 30px;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 1000;
    overflow-x: hidden;
    animation: slideIn 0.5s forwards; /* Adjust duration as needed */
  }

  .aboutTab {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--accent7);
    padding: 30px;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 99999999999;
    overflow-x: hidden;
    animation: slideIn 0.5s forwards; /* Adjust duration as needed */
  }

  .progress-bar-container {
    width: 95%;
    overflow: hidden;
    height: 20px; /* Adjust the height as needed */
    background-color: var(--accent3); /* Background color of the progress bar container */
    margin-top: 10px;
    border-radius: 5px;
  }

  /* Colored Bar */
  .progress-bar {
    height: 100%;
    background-color: var(--dark-blue); /* Color of the progress bar */
    transition: width 0.3s ease; /* Optional: Add a smooth transition effect */
  }

  .technicalSkillContainer{
    font-family: mainLight;
    font-size: 1.5vw;
    margin-top: 3vh;
  }

  .skills-container {
    display: flex;
    gap: 4vw;
    margin-bottom: 5vh;
    width: 98%;
    flex-wrap: wrap;
  }

  .skill-rectangle {
    background-color: var(--skills);
    color: #fff;
    padding: 1.75vmin 2.5vmin;
    border-radius: 10px;
    font-family: mainLight;
  }

  .projectTabLeft{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 888;
  }

  .projectTab.closed {
    animation: slideOut 0.5s forwards; /* Adjust duration as needed */
  }

  .closeTabButton {
    width: 109%;
    margin-left: -2vw;
    display: flex;
    padding: 1vw 2vw;
    font-family: main;
    cursor: pointer;
    color: var(--text-color);
  }

  .closeTabButton:hover{
    color: var(--accent3);
  }

  .closeTabButton button{
    font-family: icons;
    color: var(--text-color);
    padding: 0.1vw 0vw;
    background-color: transparent;
    border: none;
    margin-top: -2vh;
    font-size: 4.5vw;
  }

  .closeTabButton button:hover{
    cursor: default;
    color: var(--text-color);
  }


  .projectTopTab{
    margin-top: 3vh;
  }

  .projectTopTab img{
    width: 100%;
    margin-top: 2vh;
    border-radius: 10px;
  }

  .projectTopTab img {
    position: relative;
  }

  .projectTopTab img::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4); /* Adjust the color and opacity as needed */
    z-index: 1; /* Adjust the z-index to make sure the overlay is above the image */
  }


  .projectTitleTab {
    font-family: main;
    font-size: 7vw;
    margin-top: -2vh;
  }

  .projectTitleTab2 {
    font-family: main;
    font-size: 4vw;
    margin-top: 0vh;
  }

  .aboutTitleTab {
    font-family: main;
    font-size: 7vw;
    margin-top: -2vh;
    margin-bottom: 2vh;
  }

  .projectShortDescriptionTab {
    font-family: mainMedium;
    font-size: 4vw;
    margin-top: 1vh;
  }

  .projectDescriptionTab {
    font-family: mainMedium;
    font-size: 4vw;
    margin-top: 0.5vh;
  }

  .projectAboutTitle{
    font-family: main;
    font-size: 5vw;
    margin-top: 2vh;
    
  }

  .projectToolsTitle{
    font-family: main;
    font-size: 5vw;
    margin-top: 3vh;
  }

  .projectToolsTab{
    margin-top: 1vh;
    display: flex;
    margin-bottom: 0vh;
    flex-wrap: wrap;
  }

  .toolItemTab{
    padding: 2vmin 3vmin 2vmin 3vmin;
    font-family: mainLight;
    font-size: 3vw;
    margin-right: 0.8vw;
    color: #eeeeee;
    background-color: var(--dark-blue);
    border-radius: 5px;
  }

  .projectBtnsTab {
    display: flex;
    margin-top: auto;
  }


  .viewProjectTab{
    border: none;
    padding: 2vmin 3vmin;
    background-color: var(--text-color);
    color: var(--background-color);
    font-family: main;
    font-size: 3vw;
    border-radius: 10px;
    width: 70%;
    transition: 0.3s ease-in-out;
    position: relative;
  }

  .viewProjectTab:hover{
    background-color: var(--dark-blue);
    cursor: pointer;
    color: #eeeeee;
  }

  .projectBtnsContainerTab{
    display: flex;
    gap: 1vw;
    align-items: center;
    margin-top: 4vh;
  }

  .projectBtnsTab{
    background-color: transparent;
    color: var(--text-color);
    font-family: icons;
    font-size: 5vw;
    border: none;
    transition: 0.3s ease-in-out;
    margin: 0;
  }

  .projectBtnsTab:hover{
    cursor: default;
    color: var(--text-color);
  }

  #gitHubTab{
    font-family: logos;
    font-size: 10vw;
  }



  .line{
    width: 280%;
    background-color: var(--dark-blue);
    height: 0.3vh;
  }

  .line2{
    width: 315%;
    background-color: var(--dark-blue);
    height: 0.3vh;
  }

  .viewProject{
    border: 3px solid var(--text-color);
    padding: 1vmin 2vmin;
    background-color: transparent;
    color: var(--text-color);
    font-family: main;
    font-size: 0.75vw;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
  }

  .viewProject:hover{
    background-color: var(--dark-blue);
    cursor: pointer;
    color: var(--hover);
    border: 3px solid var(--dark-blue);
    transform: scale(0.95);
  }

  .projectBtnsContainer{
    display: flex;
    gap: 1vw;
    align-items: center;
  }

  .projectBtns{
    background-color: transparent;
    color: var(--text-color);
    font-family: icons;
    font-size: 1.2vw;
    border: none;
    transition: 0.3s ease-in-out;
    margin: 0;
  }

  .projectBtns:hover{
    cursor: pointer;
    color: var(--dark-blue);
  }

  #gitHub{
    font-family: logos;
    font-size: 7vw;
    margin-left: 2vw;
  }

  .bottomHalf{
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }

  .aboutSection{
    margin-top: 10vmin;
    margin-left: auto;
    margin-right: auto;
    padding: 3vmin;
    width: 95%;
    height: max-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .aboutTitle {
    font-family: main;
    font-size: 7vw;
    margin-bottom: 1vh;
    margin-left: 1vw;
  }

  .aboutText{
    margin-left: 1vw;
    font-family: mainLight;
    font-size: 4vw;
    line-height: 3.5vh;
  }

  .aboutMeMore{
    width: max-content;
    margin-top: 2vh;
    margin-left: 1vw;
    border-radius:5px;
    padding: 2vmin 4vmin;
    border: none;
    background-color: var(--dark-blue);
    color: #eeeeee;
    font-family: main;
    font-size: 3vw;
    transition: 0.3s ease-in-out;
  }

  .aboutMeMore:hover{
    background-color: var(--text-color);
    color: var(--background-color);
    transform: scale(0.95);
    cursor: pointer;
  }

  .languageText{
    font-size: 4.5vw;
  }

  .contactSection{
    margin-top: 10vh;
    width: 92%;
    height: max-content;
    padding: 0 0 4vh 0;
    
    margin-right: auto;
    display: flex;
    flex-direction: column;
  }

  .nameContainer{
    display: flex;
  }

  .rightSideContact{
    background-color: transparent;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: max-content;
    padding: 3vh 0 3vh 0;
    display: flex;
    border-radius: 15px;
    margin-top: 4vh;
  }

  .socials{
    width: max-content;
    background-color: transparent;
    z-index: 999999999;
    display: flex;
    gap: 3vh;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    flex-direction: column;
  }

  .socialLine{
    display: flex;
    align-items: center;
    gap: 3vw;
  }

  .socialsHeader{
    font-size: 6vw;
    font-family: logos;
    z-index: 99999999999999;
    color: var(--text-color);
  }

  .link{
    text-decoration: none;
    color: var(--text-color);
    font-family: mainLight;
    font-size: 4vw;
    margin-top: 0.3vh;
  }

  .leftSideContact{
    height: max-content;
    width: 100%;
    padding-left: 8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contactHeaderContainer{
    width: 117%;
  }

  .contactTitle{
    font-family: main;
    font-size: 7vw;
    margin-bottom: 1vh;
    margin-left: -0.3vw;
  }

  .contactSecondTitle{
    font-family: mainLight;
    margin-top: -1vh;
    margin-bottom: 1vh;
    font-size: 4vw;
    margin-left: -0.2vw;
  }

  .projectContent{
    background-color: var(--background-color);
    height: 100vh;
    padding-top: 8vh;
  }

  .projectPageTitle{
    font-family: main;
    font-size: 3vw;
    color: var(--text-color);
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  .form{
    transform: scale(1.3);
    margin-top: 7vh;
    margin-left: -5vw;
    animation: zoomOut 2s forwards; /* Adjust duration as needed */
  }

  .submitBtn{
    margin-top: 2vh;
    font-family: main;
    padding: 1.2vmin 2.5vmin;
    border-radius: 5px;
    margin-bottom: 5vh;
    border: none;
    color: #D9D9D9;
    background-color: var(--dark-blue);
    transition: 0.3s ease-in-out;
  }

  .submitBtn:hover{
    transform: scale(1);
    background-color: var(--dark-blue);
    color: #D9D9D9;
    cursor: default;
  }

  .formSubmittedContainer{
    display: flex;
    width: 100%;
    height: 30vh;
    flex-direction: column;
    margin-top: 15vh;
    border-radius: 20px;
  }

  .formSubmitted{
    font-family: main;
    font-size: 5vw;
    width: 20vw;
    animation: fadeOut 0.5s forwards; /* Adjust duration as needed */
  }

  .returnBtn{
    margin-top: 2vh;
    font-family: main;
    background-color: transparent;
    color: var(--text-color);
    width: 20%;
    font-size: 3vw;
    padding: 1vmin 2vmin;
    border-radius: 5px;
    border: 2px solid var(--text-color);
    transition: 0.3s ease-in-out;
    animation: fadeOut 0.5s forwards; /* Adjust duration as needed */
  }

  .returnBtn:hover{
    cursor: default;
    background-color: transparent;
    color: var(--text-color);
    border: 2px solid var(--text-color);
  }

  .footerContainer{
    height: max-content;
    background-color: #1c1c1c;
    width: 100%;
    margin-left: -3vmin;
    padding: 6vmin 4vmin;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .footerLogo{
    width: 10%;
    margin-left: -10vw;
  }

  .footerText{
    width: 75%;
    height: max-content;
    font-family: mainLight;
    text-align: left;
    margin-left: 6.5vw;
    color: #eeeeee;
    margin-top: 2vh;
  }

  .footerText2{
    height: max-content;
    margin-top: 1vh;
    font-family: mainLight;
    text-align: left;
    margin-left: -10vw;
    color: #eeeeee;
  }


  .form{
    width: 100%;
    overflow: hidden;
    margin-left: 8vw;
    animation: zoomOut 2s forwards; /* Adjust duration as needed */
  }

  .inputName{
    width: 31vw;
  }

  .inputEmail{
    width: 64vw;
  }

  .inputMessage{
    width: 64vw;
  }
  

  .imageTabOpen {
    width: 100%;
    height: 20vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; /* Center the image vertically */
    border-radius: 15px;
  }
  
  .imageTabOpen img {
    width: auto;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover container */
  }
  
  #luluApp1{
    background-color: #0D0D0D;
    padding-bottom: 1vh;
    margin-top: 1vh;
  }



  

  .singleProject{
    padding-top: 4vh;
    background-color: var(--background-color);
    height: max-content;
    padding-bottom: 0vh;
  }

  .singleProjectTitle{
    font-family: main;
    color: var(--text-color);
    margin-left: 2vw;
    font-size: 10vw;
    line-height: 10vw;
    text-align: center;
  }


  .singleProjectTopSectionContainer{
    margin-top: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
  }

  .singleProjectTitle2{
    font-family: main;
    margin-left: 6vw;
    font-size: 3.5vw;
    margin-bottom: 2vh;
    margin-top: 3vh;
    width: 90%;
    text-align: center;
  }

  .singleProjectText{
    font-family: mainLight;
    margin-left: 6vw;
    margin-right: 6vw;
    font-size: 3vw;
    text-align: center;
  }

  .singleProjectImages{
    margin-left: 6vw;
    gap: 1vw;
    display: flex;
    padding-bottom: 2vh;
    width: 85%;
    overflow-y: scroll;
  }

  .singleProjectImages img{
    width: 25vh;
    border-radius: 40px;
  }

  .singleProjectVideo{
    gap: 1vw;
    display: flex;
    margin-top: 4vh;
    height: 30vh;
    overflow: hidden;
    justify-content: center;
  }

  .singleProjectVideo video{
    border-radius: 10px;
  }






}